<ion-header>

  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="success">

  <ion-card  class="ion-padding" id="log">
    <ion-card  class="ion-padding" id="log">
      <ion-text id='tit'>OPENBOOK</ion-text>
      <br>

      <ion-button fill="clear" expand="block">
        <ion-input placeholder="Email" ></ion-input>
      </ion-button>

      <ion-button fill="clear" expand="block">
        <ion-input placeholder="Password" ></ion-input>
      </ion-button>

      
      <br>


      <ion-button color="success"  expand="block">LOGIN</ion-button>
      <ion-button  color="danger" expand="block">REGISTER</ion-button>

    </ion-card>
  </ion-card>

</ion-content>
